*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Smythe", cursive;
}

#header {
  background-image: url("/images/header_img.png");
  background-size: cover;
  padding: 3rem;
  color: white;
}

main {
  padding: 0 3rem 2.5rem;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  margin-top: 0.2rem;
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.price {
  font-size: 1.2rem;
  margin: 0;
}

.submit-btn {
  width: 100%;
  background: #16db99;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.12rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #16aa79;
}

/* Menu option */

.menu-option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 2.5rem 0;
}

.menu-option-emoji {
  font-size: 5rem;
}

.menu-option-details {
  margin-left: 2em;
  flex-grow: 1;
}

.menu-option-title {
  margin: 0;
}

.menu-option-ingredients {
  margin: 0.8em 0;
  color: #8b8b8b;
}

.menu-option-price {
  margin: 0;
}

.add-btn {
  font-size: 1.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 0;
  color: #3c3c3c;
  border: 1px solid #dedede;
  background: none;
}

.add-btn:hover,
.add-btn:active {
  background-color: #eeeeee;
}

/* Order */

#order-title {
  text-align: center;
  margin-top: 3rem;
}

#order-items-container {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
}

.order-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.order-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.1em 0;
}

.order-item {
  display: flex;
  align-items: center;
}

.order-item-title {
  margin-right: 0.9rem;
}

.order-item-remove-btn {
  color: #bbbbbb;
  cursor: pointer;
}

/* Utility classes */

.hidden {
  display: none;
}

/* Card details modal */

#payment-modal {
  text-align: right;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: white;
  border-radius: 0.2rem;
  filter: drop-shadow(0 0 20rem black);
}

#payment-modal-cancel-btn {
  font-size: 1rem;
  border: none;
  background: none;
  padding: 0.8rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.card-details-modal {
  text-align: center;
  padding: 1rem 2rem 2rem;
}

.card-details-modal-title {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  font-weight: 900;
}

.card-details-modal-form input,
.card-details-modal-form button {
  width: 20rem;
  display: block;
}

.card-details-modal-form input {
  font-size: 1rem;
  padding: 1em;
  margin: 1.2rem 0;
  border: 1px solid #757575;
  border-radius: 0.12rem;
}

.card-details-modal-form button {
  margin-top: 2rem;
}

/* Complete order message */

#complete-order-message {
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5em 2em;
  background-color: #ecfdf5;
  color: #065f46;
  border-radius: 0.2rem;
}

/* Input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
